.home {

  min-height: 100vh;
  background-color: rgb(4, 7, 41);
  color: white; 
  display: flex;
  justify-content: space-around;
}

.active {
  opacity: 0;
  
}
button {
  padding: .5rem;
  margin: 1rem;
  color: white;
  background-color: black;
  border-radius: 5px;

}
.App{
  background-color: antiquewhite;
  text-align: center;
}